#bg {
    display: block;
    width: 100vw;
    height: auto;
}

#bg_small {
    display: none;
}

@media (max-width: 768px) {
    #bg {
        display: none;
    }
    #bg_small {
        display: block;
        width: 100vw;
        height: auto;
    }
}

#chatbot-box {
    position: fixed;
    display: flex;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 600px;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Visible shadow */
    transition: box-shadow 0.3s ease-in-out;
}

#chatbot-box.bpClose {
    display: none;
    box-shadow: none; /* Remove shadow when hidden */
}
